DATABASE_URL=sqlite:///./backend.db
JWT_SECRET_KEY=581ab064212c21c1081cf672dc8ad45228d88ce57fef746aeeba9cf22c740934 #openssl rand -hex 32 -> lay code bo zo
GEMINI_API_KEY=xx #->key api
GEMINI_MODEL=gemini-3-flash-preview
POSTURE_LLM_MAX_LOG_FRAMES=300
POSTURE_SUBJECT_READY_MIN_FRAMES=10
