DATABASE_URL=sqlite:///./backend.db
JWT_SECRET_KEY=xxx #openssl rand -hex 32 -> lay code bo zo
GEMINI_API_KEY=xx #->key api
GEMINI_MODEL=gemini-3-flash-preview
POSTURE_LLM_MAX_LOG_FRAMES=300
POSTURE_SUBJECT_READY_MIN_FRAMES=10
