alembic==1.17.2
bcrypt==3.2.2
email-validator==2.3.0
fastapi==0.129.0
google-auth==2.53.0
mediapipe==0.10.9
numpy==2.2.6
opencv-contrib-python==4.13.0.92
passlib==1.7.4
protobuf==3.20.3
psycopg[binary]==3.3.2
pydantic==2.12.5
PyJWT==2.11.0
python-dotenv==1.2.1
python-multipart==0.0.22
requests==2.34.2
SQLAlchemy==2.0.46
uvicorn[standard]==0.40.0
